# Thrift Server Socket
thrift_server=192.168.1.10:8080

# Zookeeper host
zk_host=192.168.1.10:2181

# Zookeeper Node path
zk_node=/wcad-thrift/wcad-ad-ai-server/WcadAdxAIGBThriftServerService/

# Zookeeper Node Name
zk_name=i_001

# Zookeeper Node value
zk_value=192.168.1.10:8080:1
